
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background-image: url('images/fondo.jpg');
    background-size: cover; 
    font-family: Arial, sans-serif;
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
}


.tarjeta-pizza {
    width: 500px;
    background-color: white;
    
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}


.imagen-pizza {
    width: 100%;
    display: block;
}


.contenido {
    padding: 30px 40px;
    text-align: center;
}

.contenido h2 {
    font-size: 26px;
    color: #000;
    margin-bottom: 15px;
}

/* Línea punteada separadora */
.separador {
    border: none;
    border-top: 2px dotted #b3b3b3;
    margin-bottom: 20px;
}

.contenido p {
    font-size: 12px;
    color: #555;
    line-height: 1.5;
    margin-bottom: 25px;
}

/* Estilos del botón rojo */
.boton-rojo {
    display: inline-block;
    background-color: red;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
}